/*
    * Name: Enjoyable Egrets
    * Email: vopq@mail.uc.edu, cadetce@mail.uc.edu, yemaneag@mail.uc.edu, hossaizn@mail.uc.edu
    * Assignment Number: Final Project
    * Due Date: Dec 5th, 2024
    * Course #/Section: IS 3050 - 002
    * Semester/Year: Fall 2024
    * Brief Description of the assignment: Build a website that shows a list of LeetCode problems and allows users to invoke the solutions.
    * Citations: ChatGPT;
    *Anything else that's relevant: N/A
*/


body {
/*    font-family: 'Arial', sans-serif;*/
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
    height: 100vh;
    padding: 20px;
}

.left, .right {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}


.left h2, .right h2 {
    font-size: 1.5rem;  /* rem adds scalability for different devices and user preferences*/
    margin-bottom: 10px;
}


.right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.textbox {
    width: 100%;
    height: 150px;
}