/*
    * Name: Enjoyable Egrets
    * Email: vopq@mail.uc.edu, cadetce@mail.uc.edu, yemaneag@mail.uc.edu, hossaizn@mail.uc.edu
    * Assignment Number: Final Project
    * Due Date: Dec 5th, 2024
    * Course #/Section: IS 3050 - 002
    * Semester/Year: Fall 2024
    * Brief Description of the assignment: Build a website that shows a list of LeetCode problems and allows users to invoke the solutions.
    * Citations: ChatGPT; https://learn.microsoft.com/en-us/dotnet/api/system.web.ui.webcontrols?view=netframework-4.8.1 
    *Anything else that's relevant: N/A
*/


body {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

.top-button {
    padding: 5px;
    margin: 10px 10px;
    font-size: 14px;
    font-family: "Roboto Mono", sans-serif;
    background-color: #48dbaf !important;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .top-button:hover {
        background-color: white;
        color: black;
    }


.container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
    height: 100vh;
    padding: 20px;
}

.left, .right {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}


    .left h2, .right h2 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }


.right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.textbox {
    font-family: "Roboto Mono", sans-serif;
    width: 100%;
    height: 150px;
}
